ml_preprocessing/CSVS/*
!ml_preprocessing/CSVS/.gitkeep

ml_service/data/*
!ml_service/data/.gitkeep

\.env

__pycache__/
*.py[cod]

.idea/
.vscode/

.pytest_cache/

ml_service/tests/tmp_pipeline_outputs*/
